<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
  <input type="text" placeholder="Buscar Amigo" [(ngModel)]="query" />

  <h5>Amigos</h5>
  <ng-container *ngFor="let user of friends | search:query; let i = index">
    <div *ngIf="user.friend">
      <p (click)="goToConversation(user)">
        {{user.uid}}.- {{user.nick}} - {{user.email}}
      </p>
    </div>
  </ng-container>

  <h5>No Agregados</h5>
  <ng-container *ngFor="let user of friends; let i = index">
    <p *ngIf="!user.friend">
      {{user.uid}}.- {{user.nick}} - {{user.email}}
    </p>

  </ng-container>
  <button ion-button (click)="goToConversation()">Ir a Conversation</button>
  <button ion-button (click)="goToLogin()">Ir a Login</button>
</ion-content>
